    footer{
            text-align: right;
            font-size: 15pt;
            background: bisque;
            margin-left: 1080px ;
        }
    h1{background: aqua;
            margin-left: 500px;
            margin-right: 500px;
            font-family: "Century Gothic";
            text-align: center;
            }
    ul{background: bisque}
    li{list-style: none;
            display: inline-block;
            padding: 15px;
            font-family: "Century Gothic";
            }
    img{
            display: block;
            margin: auto;
        }
    h2{
        font-family: "Century Gothic" ;
        font-style: italic;
    }
    p{
        font-family: Arial ;
        color: brown;
    }
    div{
        text-align: justify;
        color: darkgreen;
    }
    body{
        margin: 20px;
    }
    a{
        font-family: Arial;
        font-size: 14pt;
    }