<!doctype html>
<!--[if lte IE 9]>
<html lang="en" class="oldie">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>INICIO</title>
  <link rel="stylesheet" media="all" href="../static/style.css" />
</head>
<body>
<header>PROGRAMACION VISUAL</header>
<article>
  <h3>PRESENTACION EMPRESA</h3>
  <section>
    <p>PAGINA DE INICIO</p><a href="{%url "home" %}">go</a>
  </section>
</article>
<article>
  <h3>ACERCA DE NOSOTROS</h3>
  <section>
    <p>ACERCA DE NUESTROS PRODUCTOS</p><a href="{%url "about-me" %}">go</a>
  </section>
</article>
<article>
  <h3>NUEVA PAGINA</h3>
  <section>
    <p>ENLACE A PAGINA NUEVA</p><a href="{%url "New_pantalla" %}">go</a>
  </section>
</article>
<article>
  <h3>CONTACTANOS</h3>
  <section>
    <p>CONTACTANOS</p><a href="{%url "New_contacto" %}">go</a>
  </section>
</article>
</body>
</html>